/*CSS Styles for GMG Brands*/

/*BRANDS PAGE*/

.woocommerce.full-width-content .content,
.woocommerce-page.full-width-content .content,
.single-brands .content {
    max-width: 92%;
    float: none;
    display: inline-block;
    text-align: left;
}

.post-type-archive-brands .content {
    max-width: 92%;
    float: none;
    display: inline-block;
    text-align: left;
}

.post-type-archive-brands ul.products li.brands {
    display: inline-block;
    float: none;
    width: 18.2%;
    box-shadow: 5px 5px 10px gray;
    background: white;
    padding: 10px;
    margin: 0 1.8% 1.992em 0;
}

.post-type-archive-brands ul.products li.brands a img,
img.brand-image,
.post-type-archive-brands .woocommerce ul.products li.products a img{
    margin: 0!important;
}

/*
.woocommerce ul.products li.brands,
.woocommerce-page ul.products li.brands {
    display: inline-block;
    float: none;
    width: 18.7%;
    box-shadow: 5px 5px 10px black;
    background: white;
    padding: 10px;
}
*/

.woocommerce ul.products li.brands:hover,
.woocommerce-page ul.products li.brands:hover {
    box-shadow: 7px 7px 12px grey;
}

.woocommerce ul.products li.brands a img {
    margin: 0;
}

.brands-search{
    display: inline-block;
    text-align: right;
    width: 50%;
    float: right;
    padding: 0 25px 20px 0;
    font-weight: 500;
}

.brands-search input#brand{
    width: 70%;
}

.brands-search input#search-submit{
    width: 30%;
}


/*
* SINGLE BRAND PAGE
*/

.brand-header {
    float: left;
    width: 100%;
}
