/*CSS for GMG Capture Forms*/

label{
    font-weight: 600;
}

.label-input{
    padding: 10px 0;
    float: left;
    width: 100%;
}

.label-input.custom-input.half{
    width: 49%;
    margin-right: 1%;
}


.form-names input.names {
    width: 49%;
    display: inline-block;
}

.form-names label,
.form-tags strong {
    display: block;
}

.form-names input.names:first-of-type {
    margin-right: 2%;
}

.form-tags label {
    /*    padding: 0 25px 0 10px;*/
}

.one-checkbox label{
    font-weight: 800;
}

.form-tags .checkbox-unit {
    width: 32%;
    display: inline-block;
    padding: 1%;
    float: left;
}

.form-tags .checkbox-unit:nth-of-type(3n + 1) {
    clear: left;
}

.checkbox-unit.other label,
.checkbox-unit.other input {
    display: inline-block;
}

.form-tags .checkbox-unit input[type="checkbox"]{
    margin-right: 10px;
}

.form-tags .checkboxes{
    float: left;
    width: 100%;
}

.gmg-form-boxes{
    display: inline-block;
    width: 100%;
}

.gmg-form-boxes .gmg-form-box{
    display: inline-block;
    float: left;
    padding: 0 15px;
}

.gmg-form-boxes .gmg-form-box.radio{
    padding: 20px;
}

.gmg-form-boxes .gmg-form-box input[type="radio"]{
    margin-right: 10px;
}

.gmg-form-boxes .gmg-form-box.checkbox strong{
    margin-left: 10px;
}

.gmg-form-boxes .gmg-form-box:first-of-type{
    padding-left: 0;
}

.gmg-form-boxes .gmg-form-box:last-of-type{
    padding-right: 0;
}

.checkbox-unit.other input {
    width: 70%;
    padding: 5px;
    margin-right: 5px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: grey;
}

/* Media Queries
---------------------------------------------*/

@media only screen and (max-width: 800px) {

    .form-names input.names {
        width: 100%;
        display: block;
        margin: 2%;
    }

    .form-tags .checkbox-unit {
        width: 100%;
        display: block;
        padding: 1%;
    }

}
