/*CSS for GMG Sticky Message*/

/*Sticky Message*/

.sticky-message .addtoany_content {
    display: none;
}

.sticky-message {
    text-align: center;
    padding: 20px 30px;
    opacity: 1;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
    display: block !important;
}

.sticky-message.bottom {
    bottom: 0px;
}

.admin-bar .sticky-message.top {
    margin-top: 35px;
}

.sticky-message.top {
    top: 0px;
    width: 100%;
    height: 100px;
}

.sticky-message p {
    font-size: 16px;
    padding: 0 10px 10px 0;
    /*    margin: 0 30px;*/
    margin: 0;
}

.sticky-message p:last-child {
    margin-bottom: 0;
}

.sticky-message .fa.fa-window-close {
    float: right;
    padding: 5px 5px 0 0;
}

.sticky-message .fa.fa-window-close:hover {
    cursor: pointer;
    color: #3a85cb;

}

.sticky-message {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sticky-message.reveal {
    opacity: 0;
    z-index: -999;
}

.sticky-message.gone {
    visibility: hidden;
    z-index: -999;
}

.inside-sticky-message {
    display: inline-block;
}

.sticky-header {
    display: inline-block;
    float: left;
}

@media only screen and (max-width: 800px) {

/*
    .sticky-message {
        background-color: rgba(255, 255, 255, .9);
        font-size: 14px;
        opacity: 1;
        padding-bottom: 10px;
        padding-top: 10px;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 9999;
    }
*/

    .sticky-message,
    .sticky-message a:hover,
    .sticky-message p {
        padding: 10px 20px;
    }

    .sticky-message h3 {
        margin: 0 0 10px;
    }
}
