#login h1 a {background-image: url('https://theoptimalplumber.com/wp-content/uploads/2020/07/Optimal-Plumbing-Solutions_190419-01-e1595342322971-300x140.png') !important;background-position: center;height: 270px;width: 270px;background-size: 230px;}